<!-- LUIZ: created this "partial template" file to update a snippet of the
comments page (not the entire page)-->

<%= div_for comment do %>
    <p>
      <strong>Posted <%= time_ago_in_words(comment.created_at) %></strong><br />
      <%= h(comment.body) %>
    </p>
<% end %>
