<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @post.body %>
</p>

<!-- LUIZ: added to show all the comments to a particular post-->
<h2>Comment</h2>
<div id="comments">
  <% @post.comments.each do |comment| %>

<!--LUIZ: replacing this code that we moved to app/views/comments/_comment.html.erb  -->
<!--
    <%= div_for comment do %>
      <p>
        <strong>Posted <%= time_ago_in_words(comment.created_at) %></strong><br />
        <%= h(comment.body) %>
      </p>
    <% end %>
-->

    <!--LUIZ: we will reuse that code to avoid redundancy -->
    <%= render :partial => @post.comments.reverse %>

  <% end %>
</div>

<!-- LUIZ: added to enable new post submissions: requires fix to the comments_controller -->
<!-- LUIZ: making requests asynchronous by adding remote:true-->
<%= form_for([@post, Comment.new], remote:true) do |f|  %>
  <p>
    <%= f.label :body, "New Comment" %><br />
    <%= f.text_area :body %>
  </p>
  <p><%= f.submit "Add Comment" %></p>
<% end %>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
